:root{
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
.desktop-menu{
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li{
  text-align: end;
}
.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}
.desktop-menu ul li:last-child{
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a{
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}